SistemaDeReservas_PF/Connected Services/ServiceFullDay/ServiceSoap_FullDay.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReservaEntidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReservaEntidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Estructura_Promocion_FullDay_Lista">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfPromocion_FullDay" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_Promocion_FullDay_Lista" nillable="true" type="tns:Estructura_Promocion_FullDay_Lista" />
  <xs:complexType name="ArrayOfPromocion_FullDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Promocion_FullDay" nillable="true" type="tns:Promocion_FullDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPromocion_FullDay" nillable="true" type="tns:ArrayOfPromocion_FullDay" />
  <xs:complexType name="Promocion_FullDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cupos" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pk_promocionFullDay" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="fecha_valida" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rutaImagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoPromocion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Promocion_FullDay" nillable="true" type="tns:Promocion_FullDay" />
  <xs:complexType name="Estructura_Promocion_FullDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:Promocion_FullDay" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_Promocion_FullDay" nillable="true" type="tns:Estructura_Promocion_FullDay" />
  <xs:complexType name="ReservaFullDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Generado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Viaje" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fk_Destino" type="xs:int" />
      <xs:element minOccurs="0" name="Fk_Origen" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pk_Reserva_FullDay" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precioTotal" type="xs:double" />
      <xs:element minOccurs="0" name="precioUnitario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaFullDay" nillable="true" type="tns:ReservaFullDay" />
  <xs:complexType name="Estructura_Post_int">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_Post_int" nillable="true" type="tns:Estructura_Post_int" />
  <xs:complexType name="Estructura_Post_Bool">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" type="xs:boolean" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_Post_Bool" nillable="true" type="tns:Estructura_Post_Bool" />
  <xs:complexType name="Estructura_ReservaFullDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ReservaFullDay" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_ReservaFullDay" nillable="true" type="tns:Estructura_ReservaFullDay" />
  <xs:complexType name="Estructura_ReservaFullDay_Lista">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfReservaFullDay" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_ReservaFullDay_Lista" nillable="true" type="tns:Estructura_ReservaFullDay_Lista" />
  <xs:complexType name="ArrayOfReservaFullDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaFullDay" nillable="true" type="tns:ReservaFullDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaFullDay" nillable="true" type="tns:ArrayOfReservaFullDay" />
  <xs:complexType name="Estructura_ViajesProgramados_FullDay_Lista">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ArrayOfViajesProgramados_FullDay" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_ViajesProgramados_FullDay_Lista" nillable="true" type="tns:Estructura_ViajesProgramados_FullDay_Lista" />
  <xs:complexType name="ArrayOfViajesProgramados_FullDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViajesProgramados_FullDay" nillable="true" type="tns:ViajesProgramados_FullDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViajesProgramados_FullDay" nillable="true" type="tns:ArrayOfViajesProgramados_FullDay" />
  <xs:complexType name="ViajesProgramados_FullDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="Pk_ViajesProgramados_FullDay" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:double" />
      <xs:element minOccurs="0" name="Ruta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cupos" type="xs:int" />
      <xs:element minOccurs="0" name="rutaImagen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViajesProgramados_FullDay" nillable="true" type="tns:ViajesProgramados_FullDay" />
  <xs:complexType name="Estructura_ViajesProgramados_FullDay">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="data" nillable="true" type="tns:ViajesProgramados_FullDay" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Estructura_ViajesProgramados_FullDay" nillable="true" type="tns:Estructura_ViajesProgramados_FullDay" />
</xs:schema>