SistemaDeReservas_PF/Connected Services/ServiceFullDay/ServiceSoap_FullDay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSoap_FullDay" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://3.145.100.148/PublicacionSoap/ServiceSoap_FullDay.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://3.145.100.148/PublicacionSoap/ServiceSoap_FullDay.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://3.145.100.148/PublicacionSoap/ServiceSoap_FullDay.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservaEntidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDayPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDayPorId" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDayPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDayPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_RegistrarReservaFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarReservaFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_RegistrarReservaFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarReservaFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_ModificarReservaFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarReservaFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_ModificarReservaFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarReservaFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_ObtenerReservaFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservaFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_ObtenerReservaFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservaFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_EliminarReservaFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarReservaFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_EliminarReservaFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarReservaFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_ObtenerReservasFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservasFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_ObtenerReservasFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservasFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerViajesProgramadosFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerViajesProgramadosFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerViajesProgramadosFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerViajesProgramadosFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerViajeProgramadosFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerViajeProgramadosFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerViajeProgramadosFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerViajeProgramadosFullDayResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSoap_FullDay">
    <wsdl:operation name="obtenerPromocionFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDay" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayResponse" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPromocionFullDayPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayPorId" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDayPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayPorIdResponse" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDayPorId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarReservaFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/RegistrarReservaFullDay" message="tns:IServiceSoap_FullDay_RegistrarReservaFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/RegistrarReservaFullDayResponse" message="tns:IServiceSoap_FullDay_RegistrarReservaFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarReservaFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/ModificarReservaFullDay" message="tns:IServiceSoap_FullDay_ModificarReservaFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/ModificarReservaFullDayResponse" message="tns:IServiceSoap_FullDay_ModificarReservaFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReservaFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/ObtenerReservaFullDay" message="tns:IServiceSoap_FullDay_ObtenerReservaFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/ObtenerReservaFullDayResponse" message="tns:IServiceSoap_FullDay_ObtenerReservaFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarReservaFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/EliminarReservaFullDay" message="tns:IServiceSoap_FullDay_EliminarReservaFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/EliminarReservaFullDayResponse" message="tns:IServiceSoap_FullDay_EliminarReservaFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReservasFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/ObtenerReservasFullDay" message="tns:IServiceSoap_FullDay_ObtenerReservasFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/ObtenerReservasFullDayResponse" message="tns:IServiceSoap_FullDay_ObtenerReservasFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerViajesProgramadosFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerViajesProgramadosFullDay" message="tns:IServiceSoap_FullDay_obtenerViajesProgramadosFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerViajesProgramadosFullDayResponse" message="tns:IServiceSoap_FullDay_obtenerViajesProgramadosFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerViajeProgramadosFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerViajeProgramadosFullDay" message="tns:IServiceSoap_FullDay_obtenerViajeProgramadosFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerViajeProgramadosFullDayResponse" message="tns:IServiceSoap_FullDay_obtenerViajeProgramadosFullDay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSoap_FullDay" type="tns:IServiceSoap_FullDay">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPromocionFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPromocionFullDayPorId">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarReservaFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/RegistrarReservaFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarReservaFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/ModificarReservaFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReservaFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/ObtenerReservaFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarReservaFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/EliminarReservaFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReservasFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/ObtenerReservasFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerViajesProgramadosFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/obtenerViajesProgramadosFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerViajeProgramadosFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/obtenerViajeProgramadosFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSoap_FullDay">
    <wsdl:port name="BasicHttpBinding_IServiceSoap_FullDay" binding="tns:BasicHttpBinding_IServiceSoap_FullDay">
      <soap:address location="http://3.145.100.148/PublicacionSoap/ServiceSoap_FullDay.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>