SistemaDeReservas_PF/Connected Services/ServiceFullDay/ServiceSoap_FullDay.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceSoap_FullDay" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60705/ServiceSoap_FullDay.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60705/ServiceSoap_FullDay.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60705/ServiceSoap_FullDay.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservaEntidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDay_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDay" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDayResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDayPorId_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDayPorId" />
  </wsdl:message>
  <wsdl:message name="IServiceSoap_FullDay_obtenerPromocionFullDayPorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerPromocionFullDayPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceSoap_FullDay">
    <wsdl:operation name="obtenerPromocionFullDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDay" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayResponse" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPromocionFullDayPorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayPorId" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDayPorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayPorIdResponse" message="tns:IServiceSoap_FullDay_obtenerPromocionFullDayPorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSoap_FullDay" type="tns:IServiceSoap_FullDay">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerPromocionFullDay">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPromocionFullDayPorId">
      <soap:operation soapAction="http://tempuri.org/IServiceSoap_FullDay/obtenerPromocionFullDayPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSoap_FullDay">
    <wsdl:port name="BasicHttpBinding_IServiceSoap_FullDay" binding="tns:BasicHttpBinding_IServiceSoap_FullDay">
      <soap:address location="http://localhost:60705/ServiceSoap_FullDay.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>