SistemaDeReservas_PF/Connected Services/ServiceFullDay/ServiceSoap_FullDay1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://3.145.100.148/PublicacionSoap/ServiceSoap_FullDay.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReservaEntidades" />
  <xs:element name="obtenerPromocionFullDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk_origen" type="xs:int" />
        <xs:element minOccurs="0" name="pk_destino" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPromocionFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="obtenerPromocionFullDayResult" nillable="true" type="q1:Estructura_Promocion_FullDay_Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPromocionFullDayPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pk_promocionFullDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPromocionFullDayPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="obtenerPromocionFullDayPorIdResult" nillable="true" type="q2:Estructura_Promocion_FullDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReservaFullDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="reserva" nillable="true" type="q3:ReservaFullDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarReservaFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="RegistrarReservaFullDayResult" nillable="true" type="q4:Estructura_Post_int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarReservaFullDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="reserva" nillable="true" type="q5:ReservaFullDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarReservaFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="ModificarReservaFullDayResult" nillable="true" type="q6:Estructura_Post_Bool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReservaFullDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pk_Reserva_FullDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReservaFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="ObtenerReservaFullDayResult" nillable="true" type="q7:Estructura_ReservaFullDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReservaFullDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pk_Reserva_FullDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarReservaFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="EliminarReservaFullDayResult" nillable="true" type="q8:Estructura_Post_Bool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReservasFullDay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerReservasFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="ObtenerReservasFullDayResult" nillable="true" type="q9:Estructura_ReservaFullDay_Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerViajesProgramadosFullDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pk_origen" type="xs:int" />
        <xs:element minOccurs="0" name="pk_destino" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerViajesProgramadosFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="obtenerViajesProgramadosFullDayResult" nillable="true" type="q10:Estructura_ViajesProgramados_FullDay_Lista" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerViajeProgramadosFullDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Pk_ViajeProgramadoFullDay" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerViajeProgramadosFullDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ReservaEntidades" minOccurs="0" name="obtenerViajeProgramadosFullDayResult" nillable="true" type="q11:Estructura_ViajesProgramados_FullDay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>